/* ------------------------------ */
/* main body repo */

.profile-repo-list {
  display: flex;
  justify-content: space-between;
}

.profile-repo-list .profile-sec {
  width: 30%;
  position: absolute;
  top: 90px;
}

.profile-repo-list .profile-sec .profile-sec-inner {
  width: 80%;
  margin: auto;
}

.profile-repo-list .profile-sec .prof-pic img {
  width: 95%;
  text-align: center;
  height: 100%;
}

#fullname {
  color: var(--primary-text-color);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.username {
  color: #586069;
  font-size: var(--font-size-medium-lg);
}

.userbio {
  color: var(--primary-text-color);
  font-size: var(--font-size-medium);
}

/* repo lists */
.profile-repo-list .repo-sec {
  width: 70%;
  margin-left: 30%;
  padding: 0;
  padding-top: 20px;
}

.repo-sec label {
  border: 1px solid var(--border-color-light);
  color: var(--secondary-text-color);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.repo-sec input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 90%;
}

.repo-sec .repos {
  width: 95%;
}

.repo-sec .repos li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color-light);
  padding: 1.5rem 0;
}

.repos .repo-name {
  color: var(--tetiary-text-color);
  font-weight: var(--font-weight-lightbold);
  font-size: var(--font-size-medium-lg);
}

.repos .repo-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.repos .repo-info,
.repo-desc {
  color: var(--secondary-text-color);
  font-size: var(--font-size-small);
}

.programmingLang-color {
  border-radius: 50%;
  margin-right: 4px;
  height: 0.75rem;
  width: 0.75rem;
  color: transparent;
  font-size: var(--font-size-small);
}

.octicon-star,
.octicon-repo-forked,
.date {
  font-size: var(--font-size-small);
  fill: var(--secondary-text-color);
  margin-left: 0.75rem;
}

.repos li .star-btn {
  background-color: var(--tetiary-bg-color);
  border: 0.5px solid var(--border-color-light);
  color: var(--primary-text-color);
  padding: 0.325rem 0.75rem;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-align: center;
}

.star-btn .octicon-star {
  margin-right: 0.15rem;
}

.prof-img-large,
.prof-img-small {
  border-radius: 50%;
}

.prof-img-small {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  /* repo list section */
  .repo-sec input {
    width: 95%;
    margin: auto;
  }

  /* main*/
  .profile-repo-list .profile-sec {
    top: 60px;
    z-index: 1;
    width: 100%;
  }

  .profile-sec-inner-mobile {
    display: flex;
    align-items: center;
  }

  .profile-sec-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .profile-repo-list .profile-sec .profile-sec-inner {
    width: 95%;
  }

  .prof-pic {
    width: 20%;
  }

  .profile-repo-list .repo-sec {
    margin: auto;
    width: 95%;
  }

  /* repos */
  .repo-sec .repos {
    width: 100%;
  }

  .repos li .star-btn {
    padding: 0.325rem 0.5rem;
  }

  .star-btn .octicon-star {
    margin-right: 0.15rem;
  }
}
